<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Damare</title>

		{% set cache = 4 %}

		<link rel="icon" href="/static/favicon.png?cache={{ cache }}" type="image/png">
		<link href="/static/styles.css?cache={{ cache }}" rel="stylesheet">

		<script defer src="/static/alpine.min.js?cache={{ cache }}"></script>
		<script src="/static/htmx.min.js?cache={{ cache }}"></script>
	</head>

	<body class="h-full bg-[#0a1713] text-gray-200">
		{% include "partials/navbar.html" %}
		
		<main class="mt-30 max-w-6xl mx-auto px-6">
			{% block content %}{% endblock %}
		</main>

		{% include "partials/hot.html" %}
	</body>
</html>
