<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Damare</title>

		{% set cache = 4 %}

		<link rel="icon" href="/static/favicon.png?cache={{ cache }}" type="image/png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:wght@400;500;600;700&family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">
		<link href="/static/styles.css?cache={{ cache }}" rel="stylesheet">

		<script defer src="/static/alpine.min.js?cache={{ cache }}"></script>
		<script src="/static/htmx.min.js?cache={{ cache }}"></script>
	</head>

	<body class="dmr" data-density="regular">
		{% block app %}
		<div class="flex flex-col h-screen">
			{% include "partials/navbar.html" %}
			<main class="flex-1 overflow-auto">
				{% block content %}{% endblock %}
			</main>
		</div>
		{% endblock %}

		{% include "partials/hot.html" %}
	</body>
</html>
